<div class="item">

    {% if item.imagem %}
        <img
            src="{{ item.imagem.url }}"
            width="200"
        >
    {% endif %}

    <h3>
        {{ item.get_categoria_display }}
    </h3>

    <p>
        {{ item.descricao }}
    </p>

    <p>
        <strong>Cor:</strong>
        {{ item.cor }}
    </p>

    <p>
        <strong>Local:</strong>
        {{ item.local_encontrado }}
    </p>

    <p>
        <strong>Status:</strong>
        {{ item.get_status_display }}
    </p>

</div>