# Django
SECRET_KEY=substitua-por-uma-chave-segura
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# PostgreSQL
DB_NAME=cade_db
DB_USER=cade_user
DB_PASSWORD=substitua-por-uma-senha-segura
DB_HOST=localhost
DB_PORT=5432

# SUAP OAuth2
SOCIAL_AUTH_SUAP_KEY=seu-client-id-aqui
SOCIAL_AUTH_SUAP_SECRET=seu-client-secret-aqui

#GROQ API
GROQ_API_KEY=sua-chave-de-api-aqui