


{% block content %}

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Tipo</th>
            <th>Categoria do Item</th>
            <th>Data e Hora da Perda</th>
            
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        
        {% for reporte in reportes %}
            <tr>
                <td>{{ reporte.id }}</td>
                <td>{{ reporte.tipo }}</td>
                <td>{{reporte.item.categoria}}</td>
                <td>{{reporte.data}}</td>
                <td>
                    <a href="{% url 'analysis:create' reporte.id %}">Iniciar analise</a>
                    <a href="#">Ver Detalhes</a>
                </td>
            </tr>
            

            
        {% empty %}
            <tr>
                <td colspan="5">Nenhum reporte pendente encontrado.</td>
            </tr>

           
        {% endfor %}
    </tbody>
</table>
{% endblock%}