{% extends 'base.html'%}
{% load django_bootstrap5 %}

{% block title %}
{{title}}
{% endblock %}

{% block content %}

<h2>Reportes de Perda</h2>
<h3>Aguardando análise</h3>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Tipo</th>
            <th>Categoria do Item</th>
            <th>Data e Hora da Perda</th>
           
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        
        {% for reporte in analise_pendente %}
            <tr>
                <td>{{ reporte.id }}</td>
                <td>{{ reporte.tipo }}</td>
                <td>{{reporte.item.categoria}}</td>
                <td>{{reporte.data}}</td>
                <td>
                    <a class="btn btn-primary"href="{% url 'analysis:create' reporte.id %}">Iniciar analise</a>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="6">Nenhum reporte pendente encontrado.</td>
            </tr>            
        {% endfor %}
    </tbody>
</table>

<h3>Análises realizadas</h3>
<table class="table">
<thead>
    <tr>
        <th>ID</th>
        <th>Tipo</th>
        <th>Categoria do Item</th>
        <th>Data e Hora da Perda</th>
        <th>Situação</th>
        <th>Ações</th>
    </tr>
</thead>
<tbody>
    
    {% for reporte in analise_feita %}
        <tr>
            <td>{{ reporte.id }}</td>
            <td>{{ reporte.tipo }}</td>
            <td>{{ reporte.item.categoria}}</td>
            <td>{{ reporte.data}}</td>
            <td>{{reporte.analises.get_status_display}}</td>    
            <td>
                <a  href="{% url 'analysis:view' reporte.id %}">Exibir análise</a>
            </td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="6">Nenhum reporte com análise realizada.</td>
        </tr>
    {% endfor %}
</tbody>
</table>

{% endblock%}